body {
    background-color: beige;
    margin: 0;
    font-family: Helvetica, sans-serif
}

#header {
    background-color: gray; 
    height: 80px;
}

#topNavBar {
    background-color: black;
    margin-bottom: 10px;
}

#topNavBar ul {
    padding: 5px;
    margin: 0px;
}
#topNavBar ul li {
    list-style: none;
    display: inline;
}