body {
    background-color: beige;
    margin: 0;
    font-family: Helvetica, sans-serif
}

#header {
    background-color: gray; 
    height: 80px;
}

#topNavBar {
    background-color: black;
    margin-bottom: 10px;
}
h3 {
    color: blue;
}

#topNavBar ul {
    padding: 5px;
    margin: 0px;
}
#topNavBar ul li {
    list-style: none;
    display: inline;
}

.navButton {
    text-decoration: none;
    padding: 10px;
    color: white;
}

.navButton:hover {
    color: Gold;
    text-decoration: none;
    padding: 10px;
}

.post {

    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.sideBar {
    float: right;
    clear: right;
    background-color: turquoise;
    padding: 20px;
    border-radius: 10px;
}

.sidebar ul {
    padding: 5px;
    margin: 0px;
}

.imgside {
    float: right;
    width: 330px;
    margin: 0 10px 10px 10px;
    clear: right;
}

#footer {
    background-color: navy;
    height: 70px;
}